html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.375;
}

body{
  background-color: #eff5fa;
}

.btn{
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #eff5fa;
  border-radius: 0;
  background-color: #ea560e;
  height: 3rem;
}

.btn:hover{
  color: #eff5fa;
  background-color: #ff5c0d;
}

.form-control{
  border-radius: 0;
  height: 48px;
}

.form-control:focus{
  border-color: #ea560e;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(234, 86, 14, 0.6);
}

.navbar, .navbar-collapse{
  background-color: #eff5fa;
  border: 0;
  margin: 0;
}

.navbar-default .navbar-nav>li>a{
  margin-top: 0.6rem;
  font-size: 1.0rem;
  color: #99bee2;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #ea560e;
}

.navbar-default .navbar-nav>li>a:focus{
  color: #ea560e;
}

.jumbotron{
  margin: 0;
}
.hero {
  background-color: #eff5fa;
  padding: 3.125rem 0 1.125rem;
}

.hero h2{
  font-family: "Oswald", sans-serif;
  font-size: 2.8rem;
  color: #4c6681;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.hero h4{
  font-family: "Oswald", sans-serif;
  font-size: 2.2rem;
  color: #4c6681;
  margin-bottom: 2rem;
}

.hero p{
  color: #000000;
  font-size: 1.0rem;
  margin: 3.5rem 0 ;
}

.blue-back{
  background-image: url(../img/blue-back-min.png);
  background-size: cover;
  padding: 4.125rem 0 7.75rem;
}

.blue-back .welcome{
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  color: #eff5fa;
  text-align: center;
  margin-bottom: 3.2rem;
}

.blue-back .thumbnail{
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.blue-back .thumbnail .caption{
  background-color: rgba(0, 0, 0, 0);
  color: #eff5fa;
}

.blue-back .thumbnail .caption p{
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  font-size: 1rem;
}

.blue-back .thumbnail h3{
  font-family: "Oswald", sans-serif;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.end{
  padding: 6.68rem 0 6.19rem;
  text-align: center;
}

.end .form-inline .form-control, .end .form-inline .btn{
  width: 167px;
}

.end p.form-control-static{
  font-family: "Oswald", sans-serif;
  font-size: 2.25rem;
  color: #4c6681;
}

.end .form-inline > * {
   margin-right: 0.75rem;
}

.end .form-control{
  text-align: center;
}

.end .form-control{
  display: inline-block;
}

.end, footer{
  background-color: #fff;
}

footer #footer-content{
  text-align: center;
  padding: 2rem 0 2.375rem;
  color: rgb(153, 190, 226);
  border-top: 1px solid #eef4fa;
}


footer #footer-content p{
  margin: 0;
}
